<div class="container">
  <br/>
    <br/>
      <br/>
        <br/>
<h4>Genres</h4>
<% @genres.each do |genre| %>
<div class="divider"></div>
<div class="section">
<ul>
  <%= link_to genre.name, genre_path(genre) %>
</ul>
</div>
<%end%>
</div>
