<div class="container">
  <h3><%= @genre.name %></h3>

  <% @genre.movies.each do |movie| %>
    <ul>
      <%= image_tag(movie.poster) %>
      <%= link_to movie.title, movie_path(movie) %>
    </ul>

<% end %>
</div>
