
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 font: 12px Helvetica, Arial, sans-serif;
}

nav {
 margin: auto;
 margin-top: -15px;
 width: 80%;
}

#footer {
  margin-left: 10%;
  width:80%;
}

.copy_right {
  display:  inline;
  margin-left: 10px;
}

.api_credit {
  display: inline;
  padding-left: 22%;
}

.layout_container {
  padding: 40px;
  margin-bottom: -20px;
  width: 80%;
  display: flex;
  /*margin-bottom: 1em;*/
  min-height: 1000px;
}

.nav-wrapper {
  padding-bottom: 7%;
  padding-left: 20px;
}

#randomize {
  margin-left: 150px;
  margin-right: 150px;
}

#search {
  border-radius: 25px;
  color: black;
  margin-left: 25%;
  margin-top: 1%;
  width: 25%;
  height: 45px;
}

#nav-mobile {
  position: absolute; left: 75%; bottom: 3%;
}
