// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-header {
  height: 50px;
}

.movie-carousel {
  position: relative; left: 15%; top: 40%;
  margin: 0 auto;
}

.carousel-control {
  color: white;
  background: none;
  border: none;
}
