// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-poster {
  position: relative; left: -60px;
  height: 350px;
  float: left;
}

.video-container {
  width: 100%;
  min-width: 300px;
  margin-top: 15%;
  float: right;
}

.movie-reviews {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  float: left;
  margin-top: 8%;
  position: relative; left: -55px;
}

.reviews-ratings {
  margin-top: 15%;
}

.movie-description {
  width: 110%;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
}

#review-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75em;
  font-weight: 300;
}

#movie-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.25em;
  font-weight: 600;
}
