.profile_title {
  font-family: 'Buenard', serif;
  font-size: 4em;
}

.user_content_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

.user_content_list {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
}

.fav_list {
  padding: 5px;
}

.review_list {
  padding: 5px;
}

.review_content {
  position: absolute;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  color: #BED8FF;
}

/*.fav_div {
  display: inline-block;
  float: left;
}

.review_div {
  display: inline-block;
  float: left;
}*/
