<%= form_for ([ @movie, @movie.reviews.build ]) do |f| %>

  <p> Review:</br> <%= f.text_field :content%> </p>
  <p> Rating(Out of 5):</br> <%= f.number_field :rating%> </p>

  <%= f.submit :Submit %>

<% end %>
